.header-bg {
  background: linear-gradient(45deg, var(--cor-12), var(--cor-10));
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--cor-p1) 30%,
    var(--cor-p2) 70%
  );
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 a {
  font: 2rem/1.5 "kanit", "Nunito", Arial;
  padding: 16px 0;
  text-decoration: none;
  color: var(--cor-1);
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.header-container h1 a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--cor-p1);
  position: absolute;
  margin-top: 0px;
  transition: 0.3s;
}

.header-container h1 a:hover::after {
  width: 100%;
}

.header-container h1 a:hover {
  color: var(--cor-p1);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  font: 1.125rem/1.3 "kanit", sans-serif;
  padding: 16px 0px;
  text-decoration: none;
  color: var(--cor-0);
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.header-menu a:hover {
  color: var(--cor-p1);
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--cor-12);
  position: absolute;
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 840px) {
  .header-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header-menu {
    place-items: center;
    gap: 28px;
  }
  .header-menu a {
    font-size: 1rem;
  }
}

@media (max-width: 440px) {
  .header-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 20px;
  }
}
